.about {
    border-top:2px solid lightgray;
    background-color: #2eb398;
     margin:0;
     padding-bottom:25px;
}

.container-about {
   font-size:1.7rem;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    section{
        display:flex;
        flex-flow:column nowrap;
        align-items:center;
        
        p{
            max-width:300px;
            
        }
        img{
            display:flex;
            flex-flow:row nowrap;
            justify-content:flex-start;
        }
    }
}

h1 {
    color: #d7fcf5;
    font-family: "Maven Pro Regular";
    font-weight: 400;
}

h2{
    
    color: #20816d;
    font-family: "Maven Pro Regular";
    font-weight: 400;
}



.post-text {
  @media (max-width: $mobile-breakpoint) {
    font-size:1.3rem;
 }
   
}
