#myCanvas {
    // margin: 50px;
    border: 1px solid;
    @media (max-width: $mobile-breakpoint) {
        width: 85%;
        padding: em(10px) em(10px);
  }
}

.post-img-canvas{
  @media (max-width: $mobile-breakpoint) {
    width: 85%;
    padding: em(10px) em(10px);
  }
}
.post-text-canvas {
    margin: em(100px);
    position: relative;
    flex: 0 1 calc(50% - 2em);
    margin-right: em(220px);
    color: #d7fcf5;
    font-family: Lato;
    font-weight: 400;
    @media (max-width: $mobile-breakpoint) {
        flex: 1 1 100%;
    }
}
.inputText{
    font-family: Lato;
}
.form-group{
    width: 368px;
    @media (max-width: $mobile-breakpoint) {
    width: 100%;
  }
}