
.meme-generator{
    min-height:490px;
    max-width:900px;
    margin:0 auto;
}

.image-search{
    padding:8px;
    margin-right:4rem;
}
.images-section{
            display: flex;
            margin:0;
             padding:0;
             min-width:260px;
             
    .images-container{
      flex: 0 0 65%;
   
        #hexGrid{
            
        }
    }


    .keywords-container{
          flex: 1;
         min-width:60px;
        
       
        
        .keywords{
        display:inline-block;
        margin:0;
        
    
        }
    }
    
    &:after{
        content:"";
        clear:both;
    }
}