.container {
  padding: em(81px) 0;
  position: relative;
  width: 100%;
  max-width: em(980px);
}
.post-container {
    margin: em(90px);
}
.about {
  height: em(345px);
  background-color: #2eb398;
}
.touch{
    height: em(552px);
    background-color: #323232;
}