.container {
  padding: em(81px) 0;
  position: relative;
  width: 100%;
  max-width: em(980px);
}
.post-container {
    margin: em(90px);
    display: flex; 
    flex-flow:row wrap
}
<<<<<<< HEAD
// .about {
//   height: em(345px);
//   background-color: #2eb398;
=======
.about {
  height: em(345px);
  background-color: #2eb398;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}


// .container {
//   padding: em(81px) 0;
//   position: relative;
//   width: 100%;
//   max-width: em(980px);
>>>>>>> 4199c0f3134198cf0a46700b7eb934afa1e1755d
//   border-left: 1px solid gray;
//   border-right: 1px solid gray;
// }

// .container-about {
//     margin: 0 auto;
//     padding: em(1px) 0;
//     width: 100%;
//     max-width: em(1020px);
//     border-left: 1px solid gray;
//     border-right: 1px solid gray;
// }